html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family:Microsoft JhengHei;
}
.clearfix{
	clear:both;
}
.warp{
    background-image: url(../images/bg.png);    
    background-repeat: no-repeat ;
    background-size: 100%;
    background-color: #ecf6fc;
    width: 1024px;
    margin: 0 auto; 
    margin-top: 20px; 
    padding-bottom: 20px;
    position: relative;
}
.warp img{
    bottom: 0;
}
.header{    
    padding-top: 20px;
    padding-left: 20px;
    
}
.title{
    width: 20%;
    text-shadow:  0px 0px 5px rgb(38, 82, 165);
    float: left;
}
.title h1{
    font-size: 36px;
}
.title h1 span{    
    font-size: 20px;    
}
.menu ul{
    margin-right: 100px;
    float: right;
    background-color: #b7cdef7d;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}
.menu li{
    padding-left: 50px;
    display: inline;
    font-size: 24px;
    float:left;    
    font-weight:bold;
}
.menu a{
    text-decoration: none;
    text-shadow:  0px 1px 5px #ffeaea;
    color: #265494;
}
.home:hover, .system:hover, .his:hover{
    color: rgb(214, 103, 103);
}
.menu li:hover{
    border-bottom:2px solid rgb(214, 103, 103);
}

.content{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url(../images/inisde.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 960px;
    height: 600px;
    position: relative;

}
.env{
    background: linear-gradient(#72c6e9,#164fa3);
    width: 20%;
    height: 600px;
    float: left;
    box-shadow: 5px 0px 0 #bbb; 
}
.env img{
    position: absolute;
    bottom: 5px;
    left: 10px;
}
.env h1{
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    text-shadow: 0 0 5px #f5fdff;
}
.logo img{
    position: absolute;
    bottom: -20px;
    left: -20px;
}
.main{
    float: right;
    background-color: #fcfafa;    
    width: 76%;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0 5px #cccccc;
}

.main table{
    width: 90%;
    margin:  0 auto;
}
.main h2 {
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
.main td{
    padding-top: 5px;
}
.tit{
    width: 90px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
.main td img{
    padding: 2px 5px;
}
.main span{
    line-height: 24px;
}

/*-- system --*/
.device{
    margin-top: 30px;
}
.environ td{
    padding-bottom: 20px;
}
.tit-bg{    
    background-image: url(../images/titbg.png);
    background-size: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.device table{
    width: 90%;    
}
.tpimg, .phimg, .feedimg{
    padding-left: 50px;
}
.temp-sub, .ph-sub{
    text-align: center;
    width: 25%;
}
/*環境最小值*/
.tplow, .phlow{
    font-weight: bold;
    font-size: 18px;
    padding-right: 20px;
    color: #303099;
}
.tpmin, .phmin{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    color: #303099;
    font-family: monospace;
}
/*環境最大值*/
.tpbig, .phbig{
    font-weight: bold;
    font-size: 18px;
    padding-right: 20px;
    color: #ef2b1d;
}
.tpmax, .phmax{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    color: #ef2b1d;
    font-family: monospace;
}
.temp, .ph, .ft{
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;    
    padding: 3px 10px;
    box-shadow: 0 0 10px #a0bde7;
    background-color: #84ade9;
    border-color: #adceff;
    color: #292828;
}

.temp:hover, .ph:hover{
    background-color: #164fa3;
    border-color: #3f8cfd;
    color: white;
}
.feedtime{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    color: #ef2b1d;
    font-family: monospace;
}
.ft{
    margin-left: 20px;
}
/*-- history --*/
/*chart*/
.tpchart{
    margin-top: 20px;
    margin-left: 20px;
}
.tpchart p{
    margin-bottom: 30px;
}
.panel-body button{
    font-family:Microsoft JhengHei;
    background-color: #668cc4;
    box-shadow: 0 0 3px #3e4951;
    border: #eaf2ff;
    color: #eaf2ff;
    padding: 5px 5px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.panel-body button:hover{
    background-color: #e3a376;
    border: #eaf2ff;
}
#container{
    margin-left: 10px;
    margin-right: 50px;
}
/*圖表選單*/
#charttp{
    font-weight: bold;
    font-family:Microsoft JhengHei;
}
.chartmenu{
    /* 選單大小 */
    padding-top: 10px;
    padding-left: 10px;
	height:50px;
	width:95%;
    font-family:Arial, Helvetica, sans-serif;
}
.chartmenu ul {
	/* 取消ul樣式符號 */
	list-style-type:none;
	/* 重設ul邊界與留白為零 */
	margin:0;
	padding:0;
	/* 內有浮動元件時，需設overflow才會自動調整大小 */
	overflow:auto;
}
* html .chartmenu ul {
	/* 解決IE6不理overflow問題，直接指定高度 */
	height:30px;
}
.chartmenu ul li {
	/* 利用float讓第一層li水平排列 */
	float:left;
}
/* 解決IE6條列式餘白問題*/
* html .chartmenu ul li {
	display:inline;
}
.chartmenu ul li a {
	/* 將a改為區塊元件，以便指定寬高 */
	display:block;
	/* 這邊也要設float，否則IE6會以100%寬度顯示 */
	float:left;
	/* 固定高度 */
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 20px;
	height:30px;
	width: 210px;
	text-align: center;
}
/* 修正IE7絕對定位差異 */
*:first-child+html .chartmenu ul li ul {
	margin-top:0;
}
/* 修正IE6絕對定位差異 */
* html .chartmenu ul li ul {
	margin-top:0;
}
.chartmenu ul li ul li {
	/* 覆寫繼承自第一層的浮動設定 */
	float:none;
	text-align: center;
}
.chartmenu ul li ul li a {
	/* 覆寫繼承自第一層的浮動設定 */
	float:none;
	width: 100%;/* 註：display、height、padding繼承第一層的設定 */
}
/* 第一層ul背景色彩與邊框 */
.chartmenu ul {
	background:#c9c9c9;
}
/* 第一層a字型 */
.chartmenu ul li a {
	color:#292828;
	text-decoration:none;
	line-height: 30px;
}
/* 觸動第一層li時，改變背景色 */
.chartmenu ul li:hover, .chartmenu ul li a:hover {
	background:#efefef;
}
.chartmenu ul li:hover a {
	color:#333333;
}